.centered-container {
    display: flex;
    justify-content: center;
    gap: 7%;
    background-color: #2b3035;
    height: 91vh;
}
.left-component {
    margin-top: 10%;
}
.center-components {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.right-component {
    margin-top: 5.5%;
}
span{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 220%;
    color: #ffffff;
}
p:not(span p){
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 135%;
    color: #ffffff;
}
.navbar {
    height: 9vh;
}